@use "variables" as *;
@use "btn" as *;
@use "media-queries" as *;

body {
  font-family: $primary-font;
  background: $bg-color;
  color: $body-text-color;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-text-color;
}
.bg-primary {
  background-color: $primary-color;
  color: $bg-color;
}
a {
  color: $link-color;
}