@use "_variables" as *;
@use "_text" as *;
@use "_btn" as *;
@use "_media-queries" as *;

.login-form {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 0;
  padding: 5px;
  box-sizing: border-box;
  form {
    height: 30vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  input {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #302d2d;
  }
  a {
    @include text-primary;
    text-decoration: none;
    cursor: pointer;
  }
  button {
    @include btn;
    @include special-text;
    width: 100%;
    background-color: $primary-color;
    color: $bg-color;
    border: none;
  }
}
.wrapper {
  display: flex;
  width: 99vw;
  height: 100vh;
  @include for-size(phone-only) {
    flex-direction: column;
    margin: 5px;
  }
}
.login-image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  img {
    width: 100%;
    position: relative;
    top: 30%;
  }
}

.logo {
  position: relative !important;
  max-width: 100px !important;
  top: 10px !important;
  left: 20px !important;
}
