@font-face {
    font-family: "ProjectFont"; 
    src: url("../assets/fonts/Avenir-next-lt-pro/AvenirNextLTPro-Regular.otf"); 
  }
  $primary-color: #39CDCC;
  $bg-color: #FFFFFF;
  $primary-font: ProjectFont;
  $heading-text-color: #213F7D;
  $body-text-color: #545F7D;